$color-red-detail: #930000;
$color-red-hover: #AE0000;
$color-red-dark: rgba(255, 0, 0, 0.12);
$color-white-text: #FFFFFF;
$color-gray-text: #7f7f7f;
$color-gray-blur: rgba(255, 255, 255, 0.08);
$color-gray-bottom: #202020;
$color-black-blur: rgba(0, 0, 0, 0.75);
$color-black-bottom: #0c0c0c;