*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6,
p, figure, blockquote, dl, dd,
ul, ol, li, pre {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0c0c0c;

  overflow-x: hidden;

}

input, button, textarea, select {
  font: inherit;
  background: transparent;
  border: none;
  color: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

ul, ol {
  list-style: none;
}

table {
  width: 100%;
}

code, pre {
  font-family: ui-monospace, "SF Mono", "Roboto Mono", monospace;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0ms !important;
    transition-duration: 0ms !important;
    scroll-behavior: auto !important;
  }
}

